<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKillerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/ProcessusKillerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKillerService"
                contract="KillerServiceReference.IKillerService" name="BasicHttpBinding_IKillerService" />
        </client>
    </system.serviceModel>
</configuration>