<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKillerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/ProcessusKillerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKillerService"
                contract="ServiceReference1.IKillerService" name="BasicHttpBinding_IKillerService" />
        </client>
    </system.serviceModel>
</configuration>